// .game-site-header {
    // padding-top: 56%;
// }

.right-post-details {
    height: 100%;

    .widge-wrapper {
        position: sticky;
        z-index: 10;
    }
}

.rn-blog-details-default {
    position: relative;
    // padding-top: 0px;

    .blog-content-top {
        padding-top: 70vh;
        margin-bottom: 50px;

        .game-headings {
            font-size: 70px;
            width: 100%;
            display: flex !important;
            align-items: center;
            margin-bottom: 40px;

            .hero-items {
                margin-right: 40px;
                .title {
                    box-sizing: content-box;
                    max-height: 300px;
                    // width: 600px;
                    margin-right: 40px;
                }
    
                .date {
                    display: inline-block;
                    margin-bottom: 10px;
                }
            }

            .large-img {
                span {
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100vh !important;
                    z-index: -5;    
                }

                .offset {
                    z-index: -2;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    margin: 0 auto;
                    height: 100vh !important;
                    background: linear-gradient(360deg,  rgba(19,19,29,1) 0%, rgba(19,19,29,0.5186449579831933) 50%);
                    padding-top: 65vh;
                }
            }
        }

        @media #{$md-layout} {
            padding-top: 20px;

            .game-headings {
                display: block !important;

                .large-img {
                    span {
                        position: relative !important;
                        height: auto !important;
                    }

                    .offset {
                        position: static;
                        display: none;
                    }
                }

                .age-rating {
                    font-size: smaller;

                    img {
                        height: 70px;
                    }
                }
            }
        }

        @media #{$sm-layout} {
            padding-top: 20px;

            .game-headings {
                display: block !important;

                .large-img {
                    span {
                        position: relative !important;
                        height: auto !important;
                    }

                    .offset {
                        position: static;
                        display: none;
                    }
                }

                .age-rating {
                    font-size: smaller;

                    img {
                        height: 70px;
                    }
                }
            }
        }
    }
}